{% extends 'member/base.html.twig' %}


{% block titleText %}
    <h1>Accept  Contract </h1>
{% endblock %}

{% block breadCrumb  %}

{% endblock %}

{% block page %}
<div class="container">


           <div class="row">
               <div class="col-md-4">
                   <div class="feature-content text-center">
                       <div class="feature-icon-box">
                           <div class="feature-icon center-block active">
                               <i class="fa fa-pencil"></i>
                           </div>
                       </div> <!--  end of /.feature-icon-box  -->
                       <div class="feature-info">
                           <h3 class="feature-heading">ACCEPT THE CONTRACT </h3>
                           <p class="feature-description">
                              Carefully read the terms of this contract as stated in the milestone(s)
                           </p>  <!--   end of /.feature-description  -->
                       </div> <!--   end of /.feature-info  -->
                   </div> <!--  end of /.feature-content  -->
               </div>
               <div class="col-md-4">
                   <div class="feature-content text-center">
                       <div class="feature-icon-box">
                           <div class="feature-icon center-block">
                               <i class="fa fa-bank"></i>
                           </div>
                       </div> <!--  end of /.feature-icon-box  -->
                       <div class="feature-info">
                           <h3 class="feature-heading">SAVE </h3>
                           <p class="feature-description">
                               We securely hold your payment pending when the job will be delivered.
                           </p>  <!--   end of /.feature-description  -->
                       </div> <!--   end of /.feature-info  -->
                   </div> <!--  end of /.feature-content  -->
               </div>
               <div class="col-md-4">
                   <div class="feature-content text-center">
                       <div class="feature-icon-box">
                           <div class="feature-icon center-block">
                               <i class="fa fa-thumbs-o-up"></i>
                           </div>
                       </div> <!--  end of /.feature-icon-box  -->
                       <div class="feature-info">
                           <h3 class="feature-heading">RELEASE PAYMENT</h3>
                           <p class="feature-description">
                               Only Release Payment to {{ bid.member.firstName |title }} {{ bid.member.lastName |title }}
                               when you are 100% satisfied.
                           </p>  <!--   end of /.feature-description  -->
                       </div> <!--   end of /.feature-info  -->
                   </div> <!--  end of /.feature-content  -->
               </div>
           </div>



</div>


{% endblock %}



