{% extends 'member/base.html.twig' %}





 {% block titleText %}
     <h1> <i class=""></i>Projects Awaiting Feedback</h1>
 {% endblock %}
 {% block breadCrumb %}
     <div class="col-lg-5 col-md-push-7">
         <div class="btn-group btn-group-justified"><a class="btn btn-default" href="#">My Project</a><a class="btn btn-default" href="#">Inbox</a>
             <a class="btn btn-default active" href="#">Feed Back</a></div>
     </div>
 {% endblock %}



{% block page %}
<div class="row">

    {# right side #}
    <div style="margin-right: 10px;" class="col-md-12">

        <div class="row">
            <div class="card">
                <div class="card-title">Projects</div>

            </div>
        </div>
    </div>


</div>
{% endblock %}

