{% extends 'member/base.html.twig' %}



 {% block menu %}

     <li><a href="index.html"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>

     <li class="treeview"><a href="#"><i class="fa fa-navicon"></i><span>Work</span><i class="fa fa-angle-right"></i></a>
         <ul class="treeview-menu">
             <li><a href="#"><i class="fa fa-circle-o"></i> Project With My Skills</a></li>
             <li><a href="#" target="_blank"><i class="fa fa-circle-o"></i>Brows Projects</a></li>
             <li><a href="#"><i class="fa fa-circle-o"></i> Brows Local Jobs</a></li>
             <li><a href="#"><i class="fa fa-circle-o"></i> Brows Categories</a></li>
         </ul>
     </li>

     <li class="treeview"><a href="#"><i class="fa fa-th-list"></i><span>Hire A freelancer</span><i class="fa fa-angle-right"></i></a>
         <ul class="treeview-menu">
             <li><a href="table-basic.html"><i class="fa fa-circle-o"></i> Start a Project</a></li>
             <li><a href="table-data-table.html"><i class="fa fa-circle-o"></i> Post Local Job</a></li>
             <li class="fc-divider"></li>
             <li><a href="table-basic.html"><i class="fa fa-circle-o"></i> Hall of Fame</a></li>
             <li><a href="table-data-table.html"><i class="fa fa-circle-o"></i> Brows Directory</a></li>

         </ul>
     </li>
     <li class="treeview"><a href="#"><i class="fa fa-support"></i><span>Help</span><i class="fa fa-angle-right"></i></a>
         <ul class="treeview-menu">
             <li><a href="blank-page.html"><i class="fa fa-circle-o"></i> Get Support</a></li>
             <li><a href="page-login.html"><i class="fa fa-circle-o"></i> How Chukolo Works</a></li>
             <li><a href="page-lockscreen.html"><i class="fa fa-circle-o"></i> Frequently Asked Questions</a></li>
             <li><a href="page-user.html"><i class="fa fa-circle-o"></i> Fees And Charges</a></li>
             <li><a href="page-invoice.html"><i class="fa fa-circle-o"></i> Disputes</a></li>

         </ul>
     </li>
 {% endblock %}


 {% block titleText %}
     <h1> <i class=""></i>Projects Awaiting Feedback</h1>
 {% endblock %}
 {% block breadCrumb %}
     <div class="col-lg-5 col-md-push-7">
         <div class="btn-group btn-group-justified"><a class="btn btn-default" href="#">My Project</a><a class="btn btn-default" href="#">Inbox</a>
             <a class="btn btn-default active" href="#">Feed Back</a></div>
     </div>
 {% endblock %}



{% block page %}
<div class="row">

    {# right side #}
    <div style="margin-right: 10px;" class="col-md-12">

        <div class="row">
            <div class="card">
                <div class="card-title">Projects</div>

            </div>
        </div>
    </div>


</div>
{% endblock %}

