{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
{% block fos_user_content %}
    <ol class="breadcrumb">
        <li><strong>You are here :</strong></li>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li class="active"><a href="#"><strong>Password Already Requested</strong></a></li>
    </ol>
    <p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
{% endblock %}