{% extends 'profile/base.html.twig'%}
  {% block navItems %}

      <li class="active">
          <a href="{{ path("home") }}">
              <i class="ti-panel"></i>
              <p>Home</p>
          </a>
      </li>


  {% endblock %}

 {% block pageName %}
     Reset
 {% endblock %}

{% block breadCrumb %}
    <ol class="breadcrumb">
        <li><strong>You are here:</strong></li>
        <li>Dashboard</li>
        <li><strong>Reset</strong></li>
        <li><strong>Request</strong></li>
    </ol>
{% endblock %}


  {% block pageContent %}
{% block fos_user_content %}
    <ol class="breadcrumb">
        <li><strong>You are here :</strong></li>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li class="active"><a href="#"><strong>Password Reset Request</strong></a></li>
    </ol>
    <div style="width: 100%" class="badge badge-info ">
        <h3>ENTER A USER NAME OR EMAIL TO RESET </h3>
        {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
    </div>


{% endblock fos_user_content %}
{% endblock %}
