{% extends 'member/base.html.twig' %}



            {% block breadCrumb %}



            {% endblock %}


{% block page %}

<div class="container">
    <div style="margin-top: 3em" class="row">
        <div class="col-sm-8">

            <div class="card">


                <article class="blog-item">
                    <img class="img-responsive center-block" src="{{ asset('assets/img/profile/card.png') }}">
                    <div class="blog-heading">
                        <h3 class="text-capitalize">Design a Complimentary Card</h3>
                        <span class="date">may 24,2015</span>
                        <span>12 comments</span>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the rinting and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever sincer they 1500s. Nullam id condimentum purus. In non ex at ligula fringilla lobortis. Ut et mauris auctor, aliquet nulla sed, aliquam mauris. Vestibulum sed malesuada dolor. Integer fringilla odio a dolor aliquet, eu euismod lectus porttitor. Proin et libero nec eros eleifend commodo Phasellus sodales volutpat diam, id sagittis purus egestas dapibus. Donec bibendum est quis mi commodo blandit. Maecenas pellentesque, massa vitae faucibus consectetur, ante magna gravida magna, ut venenatis massa augue et odio. Aliquam luctus viverra velit, non euismod ligula congue sed.

                    </p>

                    <p>
                        Mauris nunc leo, sollicitudin a ligula ut, iaculis bibendum lorem. Duis gravida suscipit purus, at consequat diam sagittis sit amet. Mauris sed nisl vel urna egestas elementum eget quis ipsum. Nulla a enim et justo facilisis ornare. Sed ante sem, dignissim a vehicula et, rutrum volutpat turpis.
                    </p>



                </article>



            </div>

        </div>









        <div class="col-sm-4">
            {#
                 Place Order
               #}
            <div class="row card">

                <h3  style="padding-bottom: .5em; margin-top: 0;padding-top: 0" class="card-title  text-center">Place Order</h3>

                <ul class="well">
                    <li class="row">




                        <p>
                            Yes hire him again.
                        </p>



                    </li>

                </ul>
            </div>



            {#
               Place Order
             #}
            <div class="row card">

                <h3  style="padding-bottom: .5em; margin-top: 0;padding-top: 0" class="card-title  text-center">Provide Similar service </h3>

                <ul class="well">
                    <li class="row">




                        <p>
                            Do you have what it takes to be a provider of this service? Register now and start getting jobs immediately!
                        </p>



                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>



{% endblock %}


